In [36]:
import pandas as pd

In [40]:
c = pd.read_csv("crypto-23.csv")
c

    Month          ETH           BTC
0       1  1907.256592  27249.589844
1       2  1937.438354  30620.769531
2       3  1839.089722  29151.958984
3       4  1637.025391  25868.798828
4       5  1663.627563  27530.785156
5       6  1800.620972  34938.242188
6       7  2165.704102  39476.332031
7       8  2355.836426  44957.968750
8       9  2308.038086  43185.859375
9      10  3422.049805  62029.847656
10     11  3277.234619  65446.972656
11     12  2936.491211  57733.312500

In [44]:
c.melt(value_vars=['ETH','BTC'],var_name='Name',id_vars=['Month'])

    Month Name         value
0       1  ETH   1907.256592
1       2  ETH   1937.438354
2       3  ETH   1839.089722
3       4  ETH   1637.025391
4       5  ETH   1663.627563
5       6  ETH   1800.620972
6       7  ETH   2165.704102
7       8  ETH   2355.836426
8       9  ETH   2308.038086
9      10  ETH   3422.049805
10     11  ETH   3277.234619
11     12  ETH   2936.491211
12      1  BTC  27249.589844
13      2  BTC  30620.769531
14      3  BTC  29151.958984
15      4  BTC  25868.798828
16      5  BTC  27530.785156
17      6  BTC  34938.242188
18      7  BTC  39476.332031
19      8  BTC  44957.968750
20      9  BTC  43185.859375
21     10  BTC  62029.847656
22     11  BTC  65446.972656
23     12  BTC  57733.312500